<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406340157010-j7rukhv5mugeklnn09b2reduiovkl09k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406340157010-j7rukhv5mugeklnn09b2reduiovkl09k</string>
	<key>API_KEY</key>
	<string>AIzaSyD3_wB4A-kWto5xAfeFb3sc1FInI0SrrH8</string>
	<key>GCM_SENDER_ID</key>
	<string>406340157010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterdbapp</string>
	<key>PROJECT_ID</key>
	<string>lingsix-tester</string>
	<key>STORAGE_BUCKET</key>
	<string>lingsix-tester.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406340157010:ios:b43d5fec528be2e54ce98b</string>
</dict>
</plist>