<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406340157010-8p3cnjf4no1t892ido1s03r8i0opvatu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406340157010-8p3cnjf4no1t892ido1s03r8i0opvatu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>406340157010-6vqjdjkf6v78desrld7pc69bl26c4ccn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3_wB4A-kWto5xAfeFb3sc1FInI0SrrH8</string>
	<key>GCM_SENDER_ID</key>
	<string>406340157010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team.lingsix.mobile</string>
	<key>PROJECT_ID</key>
	<string>lingsix-tester</string>
	<key>STORAGE_BUCKET</key>
	<string>lingsix-tester.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406340157010:ios:bb599af22bcec64f4ce98b</string>
</dict>
</plist>